BUSINESS_DATABASE_DSN=
BUSINESS_DATABASE_USER=
BUSINESS_DATABASE_PASSWORD=
SAND_IAM_BASE_URL=https://iam.example.com
SAND_IAM_ORGANIZATION_CODE=your_organization
SAND_IAM_APPLICATION_CODE=your_application
SAND_IAM_READ_API_CODE=standalone_work_item.read
SAND_IAM_CLOSE_API_CODE=standalone_work_item.close
